@model Primera_Web_App.Models.Usuarios
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login para Programacion Web</title>
    <link href="css/font-awesome.css" rel="stylesheet"><!-- Font-awesome-CSS -->
    <link href="/LoginWeb/css/style.css" rel='stylesheet' type='text/css' /><!-- style.css -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Basic Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="js/jquery.min.js"></script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.main-agile').fadeOut('slow', function (c) {
                    $('.main-agile').remove();
                });
            });
        });
    </script>
</head>
<body>
    <h1>Formulario Login</h1>
    <div class="main-agile">
        <div class="alert-close"> </div>
        <div class="content-wthree">
            <div class="circle-w3layouts"></div>
            <h2>Login</h2>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="inputs-w3ls">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    @Html.TextBoxFor(m => m.USUARIO, new { @placeholder = "Usuario" });
                </div>
                <div class="inputs-w3ls">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    @Html.PasswordFor(m => m.PASSWORD, new { @placeholder = "Contraseña" });
                </div>
                <input type="submit" value="INGRESAR">
                <div class="wthree-text">
                    <ul>
                        <li> <a href="#">Olvidaste tu contraseña?</a> </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="footer-w3l">
        <p class="agileinfo"> &copy; 2023 Programación de Aplicaciones Móviles | Design by Sabetta Enrique</a></p>
    </div>
</body>
</html>



