@model Primera_Web_App.Models.Usuario
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<center>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form asp-controller
                </section>
            </div>
        </div>

    </div>
</center>

